<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />
