
//
// VARIABLES
//

// No longer need to @import the web fonts, it's done in the above the fold inlined CSS
// @import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen|Roboto');

// Colors
$blue: #4183C4;
$orange: #f5842f;
$darkerOrange: #dc762a;
$lighterOrange: #f9af78;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$openSans: 'Open Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;
$roboto: 'Roboto', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
