<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    {% include above-the-fold.html %}
    {% include analytics.html %}

    {% seo title=false %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  </head>

  <body>
    <div class="page-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
            <nav>
              <a href="{{ site.baseurl }}/our-work">Our Work</a>
              <a href="{{ site.baseurl }}/about">Our Team</a>
              <a href="{{ site.baseurl }}/blog">Blog</a>
              <a href="{{ site.baseurl }}/contact">Contact</a>
            </nav>
          </header>
        </div>
      </div>
      
      <div id="main" role="main">
        {{ content }}
      </div>   
      
      <div class="m-b-50"></div>
      <div class="clear-footer"></div>   
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <p>&copy; ThinkUX 2017.</p>
        </footer>
      </div>
    </div>
    
    <script type="text/javascript">
      function downloadJSAtOnload() {
        var jqueryJS = document.createElement("script");
        var bootstrapJS = document.createElement("script");
        jqueryJS.src = "{{ site.baseurl }}/js/jquery-3.1.1.min.js";
        bootstrapJS.src = "{{ site.baseurl }}/js/bootstrap.min.js";
        document.body.appendChild(jqueryJS);
        document.body.appendChild(bootstrapJS);
      }
      if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
      else
        window.onload = downloadJSAtOnload;
    </script>
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </body>
</html>
